html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: larger;
}

#calc-body{
    display: flex;
    flex-direction: column;
    
}

#calc-buttons{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 400px;
    background-color: aqua;
    padding: 10px;
    gap: 10px;
    
    /* justify-content: center;
    align-items: center; */

}

button {
    height: auto;
    width: auto;
    font-size: larger;
}

#calc-screen {
    height: 100px;
    width: 400px;
    background-color: grey;
    display: flex;
    flex-direction: column;
}

#result {
    font-size: 40px;
}